* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 Arial, sans-serif;
  color: hsl(0, 1%, 20%);
  box-sizing: border-box;
}

body {
  font: inherit;
  color: inherit;
}

body>#root {
  background-color: hsl(240, 20%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
